@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-bg-main: #fcfcfc;
  --color-primary: #121212;
  --color-accent: #F5C469;
  --color-text-main: #1a1a1a;
  --color-text-muted: #666666;
  --color-border-main: #eeeeee;
  --color-card-bg: #ffffff;
}

@layer base {
  body {
    @apply antialiased bg-bg-main text-text-main font-sans;
  }
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}
